body {
  margin:0px;
  background-color:rgba(243, 246, 249, 1);
  background-image:none;
  position:relative;
  left:-400px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4707 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:375px;
  height:667px;
  display:flex;
}
#u4707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(247, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4708 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:375px;
  height:667px;
  display:flex;
}
#u4708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(69, 90, 100, 0.6);
}
#u4709 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:138px;
  width:57px;
  height:20px;
  display:flex;
  color:rgba(69, 90, 100, 0.6);
}
#u4709 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4709_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#323233;
}
#u4710 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:375px;
  height:60px;
  display:flex;
  font-size:17px;
  color:#323233;
}
#u4710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u4711 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:81px;
  width:11px;
  height:19px;
  display:flex;
}
#u4711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#323233;
}
#u4713 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:177px;
  width:339px;
  height:85px;
  display:flex;
  font-size:17px;
  color:#323233;
}
#u4713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#323233;
}
#u4715 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:192px;
  width:135px;
  height:22px;
  display:flex;
  font-size:16px;
  color:#323233;
}
#u4715 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4715_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#323233;
}
#u4715.disabled {
}
#u4715_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#323233;
}
#u4716 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:218px;
  width:248px;
  height:34px;
  display:flex;
  font-size:12px;
  color:#323233;
}
#u4716 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4716_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#323233;
}
#u4716.disabled {
}
#u4716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 68, 68, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4717 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:193px;
  width:36px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u4717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4718 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:211px;
  width:18px;
  height:18px;
  display:flex;
}
#u4718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4718_img.selected {
}
#u4718.selected {
}
#u4718_img.disabled {
}
#u4718.disabled {
}
#u4718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u4719 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:216px;
  width:10px;
  height:8px;
  display:flex;
}
#u4719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4719_img.selected {
}
#u4719.selected {
}
#u4719_img.disabled {
}
#u4719.disabled {
}
#u4719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4720 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:210px;
  width:20px;
  height:20px;
  display:flex;
  color:#404041;
}
#u4720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#323233;
}
#u4722 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:277px;
  width:339px;
  height:70px;
  display:flex;
  font-size:17px;
  color:#323233;
}
#u4722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#323233;
}
#u4724 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:292px;
  width:135px;
  height:22px;
  display:flex;
  font-size:16px;
  color:#323233;
}
#u4724 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4724_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#323233;
}
#u4724.disabled {
}
#u4724_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#323233;
}
#u4725 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:318px;
  width:248px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#323233;
}
#u4725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4725_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#323233;
}
#u4725.disabled {
}
#u4725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4726 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:303px;
  width:18px;
  height:18px;
  display:flex;
}
#u4726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4726_img.selected {
}
#u4726.selected {
}
#u4726_img.disabled {
}
#u4726.disabled {
}
#u4726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u4727 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:308px;
  width:10px;
  height:8px;
  display:flex;
}
#u4727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4727_img.selected {
}
#u4727.selected {
}
#u4727_img.disabled {
}
#u4727.disabled {
}
#u4727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4728 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:302px;
  width:20px;
  height:20px;
  display:flex;
  color:#404041;
}
#u4728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(69, 90, 100, 0.6);
}
#u4729 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:372px;
  width:141px;
  height:20px;
  display:flex;
  color:rgba(69, 90, 100, 0.6);
}
#u4729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4729_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#323233;
}
#u4731 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:409px;
  width:339px;
  height:70px;
  display:flex;
  font-size:17px;
  color:#323233;
}
#u4731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C8C9CC;
}
#u4733 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:424px;
  width:126px;
  height:22px;
  display:flex;
  font-size:16px;
  color:#C8C9CC;
}
#u4733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4733_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C8C9CC;
}
#u4733.disabled {
}
#u4733_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C8C9CC;
}
#u4734 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:450px;
  width:248px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#C8C9CC;
}
#u4734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4734_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C8C9CC;
}
#u4734.disabled {
}
#u4734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4735 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:434px;
  width:20px;
  height:20px;
  display:flex;
  color:#404041;
}
#u4735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 68, 68, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u4736 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:649px;
  width:323px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u4736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4736_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:44px;
  background:inherit;
  background-color:rgba(217, 58, 58, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u4736.mouseDown {
}
#u4736_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:44px;
  background:inherit;
  background-color:rgba(252, 159, 159, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u4736.disabled {
}
#u4736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
