body {
  margin:0px;
  background-color:rgba(243, 246, 249, 1);
  background-image:none;
  position:relative;
  left:-400px;
  width:394px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:375px;
  height:667px;
  display:flex;
}
#u3963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:394px;
  height:667px;
}
#u3964_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:667px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3964_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1475px;
  background:inherit;
  background-color:rgba(247, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1475px;
  display:flex;
}
#u3965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(69, 90, 100, 0.6);
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:78px;
  width:57px;
  height:20px;
  display:flex;
  color:rgba(69, 90, 100, 0.6);
}
#u3966 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3966_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u3968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
  display:flex;
}
.u3968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
.u3969 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:26px;
  width:30px;
  height:24px;
  display:flex;
  color:#404041;
}
.u3969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u3969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#646566;
}
.u3970 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:62px;
  width:49px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#646566;
}
.u3970 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u3970_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3967-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u3967-2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:93px;
  height:93px;
}
#u3967-3 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:93px;
  height:93px;
}
#u3967-4 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:93px;
  height:93px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:112px;
  width:375px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(69, 90, 100, 0.6);
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:234px;
  width:71px;
  height:20px;
  display:flex;
  color:rgba(69, 90, 100, 0.6);
}
#u3971 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3971_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u3973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
  display:flex;
}
.u3973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
.u3974 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:26px;
  width:30px;
  height:24px;
  display:flex;
  color:#404041;
}
.u3974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u3974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#646566;
}
.u3975 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:62px;
  width:49px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#646566;
}
.u3975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u3975_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3972-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u3972-2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:124px;
  height:93px;
}
#u3972-3 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:124px;
  height:93px;
}
#u3972-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:124px;
  height:93px;
}
#u3972-5 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:94px;
  width:124px;
  height:93px;
}
#u3972-6 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:94px;
  width:124px;
  height:93px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:268px;
  width:374px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(69, 90, 100, 0.6);
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:478px;
  width:71px;
  height:20px;
  display:flex;
  color:rgba(69, 90, 100, 0.6);
}
#u3976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u3978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
  display:flex;
}
.u3978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:65px;
}
.u3979 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:85px;
  height:65px;
  display:flex;
}
.u3979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3977-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u3977-2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:124px;
  height:93px;
}
#u3977-3 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:124px;
  height:93px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:504px;
  width:374px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(69, 90, 100, 0.6);
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:628px;
  width:71px;
  height:20px;
  display:flex;
  color:rgba(69, 90, 100, 0.6);
}
#u3980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u3982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
  display:flex;
}
.u3982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
.u3983 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:26px;
  width:30px;
  height:24px;
  display:flex;
  color:#404041;
}
.u3983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u3983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#646566;
}
.u3984 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:62px;
  width:49px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#646566;
}
.u3984 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u3984_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3981-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u3981-2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:93px;
  height:93px;
}
#u3981-3 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:93px;
  height:93px;
}
#u3981-4 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:93px;
  height:93px;
}
#u3981-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:93px;
  height:93px;
}
#u3981-6 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:94px;
  width:93px;
  height:93px;
}
#u3981-7 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:94px;
  width:93px;
  height:93px;
}
#u3981-8 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:94px;
  width:93px;
  height:93px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:662px;
  width:375px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(69, 90, 100, 0.6);
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:882px;
  width:57px;
  height:20px;
  display:flex;
  color:rgba(69, 90, 100, 0.6);
}
#u3985 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3985_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u3987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:93px;
  display:flex;
}
.u3987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
.u3988 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:26px;
  width:30px;
  height:24px;
  display:flex;
  color:#404041;
}
.u3988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u3988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#646566;
}
.u3989 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:62px;
  width:49px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#646566;
}
.u3989 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u3989_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3986-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:93px;
}
#u3986-2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:88px;
  height:93px;
}
#u3986-3 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:88px;
  height:93px;
}
#u3986-4 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:88px;
  height:93px;
}
#u3986-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:88px;
  height:93px;
}
#u3986-6 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:99px;
  width:88px;
  height:93px;
}
#u3986-7 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:99px;
  width:88px;
  height:93px;
}
#u3986-8 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:99px;
  width:88px;
  height:93px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:916px;
  width:370px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(69, 90, 100, 0.6);
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1135px;
  width:57px;
  height:20px;
  display:flex;
  color:rgba(69, 90, 100, 0.6);
}
#u3990 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3990_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1171px;
  width:187px;
  height:93px;
  display:flex;
}
#u3992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3992_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:93px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3992.mouseOver {
}
#u3992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#646566;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1233px;
  width:49px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#646566;
}
#u3993 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3993_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1197px;
  width:27px;
  height:24px;
  display:flex;
  color:#404041;
}
#u3994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:1171px;
  width:187px;
  height:93px;
  display:flex;
}
#u3996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3996_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:93px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3996.mouseOver {
}
#u3996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#646566;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:1233px;
  width:49px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#646566;
}
#u3997 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3997_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1196px;
  width:25px;
  height:25px;
  display:flex;
  color:#404041;
}
#u3998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(69, 90, 100, 0.6);
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1299px;
  width:57px;
  height:20px;
  display:flex;
  color:rgba(69, 90, 100, 0.6);
}
#u3999 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3999_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1335px;
  width:187px;
  height:93px;
  display:flex;
}
#u4001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#646566;
  text-align:center;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1397px;
  width:25px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#646566;
  text-align:center;
}
#u4002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4002_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1361px;
  width:27px;
  height:24px;
  display:flex;
  color:#404041;
}
#u4003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:1355px;
  width:6px;
  height:6px;
  display:flex;
}
#u4004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:1335px;
  width:187px;
  height:93px;
  display:flex;
}
#u4006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#646566;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1397px;
  width:25px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#646566;
}
#u4007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1360px;
  width:25px;
  height:25px;
  display:flex;
  color:#404041;
}
#u4008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(238, 10, 36, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1352px;
  width:27px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u4009 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:667px;
  background:inherit;
  background-color:rgba(243, 246, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:60px;
  width:19px;
  height:667px;
  display:flex;
}
#u4010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#323233;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:375px;
  height:60px;
  display:flex;
  font-size:17px;
  color:#323233;
}
#u4011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:81px;
  width:11px;
  height:19px;
  display:flex;
}
#u4012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
